@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 font-family: 'IBM Plex Sans', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  width:90%;
  margin: 0 auto 0 auto;
}

header {
  width:100%;
  background-color: #f5f8ff;
  font-variant: small-caps;
  font-weight: bolder;
}

header h1{
  width:20%;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

h1 a {
  color:#474654;
  font-size: 40px;
  letter-spacing: 2px;
  text-decoration: none; 
}

header nav {
  width:50%;
  display: inline-block;
  vertical-align: top;
}

nav li {
  margin: 20px;
  display: inline-block;
}

li a {
  text-decoration: none; 
  color: #605972;
}

.login {
  display: inline-block;
  vertical-align: top;
  width:25%;
}

.login ul { display: inline-block; }

.login li { display: inline-block; }

.login li:first-child ::after { content:"/"; }

form { display: inline-block; }

form lable { background-image: url('../assets/images/flag.png');}

.banner {
  width: 100%;
  background-color: #f5f8ff;
  color:#474654;
  text-align: center;
}

.banner h2 {
  padding: 60px 0 40px;
  font-size: 40px;
  font-weight: bold;
}
.banner span{ display: block; }

.banner img{ 

  padding-bottom: 100px;
   }

.memories { text-align: center; }

.memories h3 {
  padding:40px 0 10px;
  color: #474654;
  font-size: 30px;
  font-weight: bold; 
}

.memories p {
  margin-bottom: 50px;
  color: #928d98;
  font-size: 20px;
}

.memories li {
  margin:15px;
  display: inline-block;
  width: 40%;
  position: relative;
}

.memories li a {
  padding: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 40%;
  border-radius: 20px;
  background-color: #f44696;
  color:#fff;
}

.photos img {width: 100%;}
.apps {
  margin-top: 50px;
  background-color: #F5F8FE;
  text-align: center;
}

blockquote {
  padding: 100px 0;
  color:#474654;
  font-size: 20px;
}

blockquote::before{ content: '"'; }
blockquote::after{ content: '"'; }

.apps img {
  padding:0 10px 50px 0;
  vertical-align: top;
}

.customer { text-align: center; }

.customer h5 {
  margin: 40px 0;
  color:#474654;
  font-size: 40px;
  font-weight: bold;
}

.customer p {
  font-size: 25px;
  color: #8b8998;
}

.customer li {
  margin: 30px 10px;
  display: inline-block;
}

.delivery { 
  padding: 30px;
  background-color: #f44696; 
  color: #ffffff;
}

.tracked {
  width: 25%;
  margin-left: 50px; 
  display: inline-block;
}

.secure {
  width: 20%;
  margin-right: 20px; 
  display: inline-block;
}

.available {
  width: 20%;
  margin-right: 50px; 
  display: inline-block;
}

footer{ padding: 50px 0; }

.copyright{
  display: inline-block;
  vertical-align: top;
  width: 20%;
}
footer span {
  color: #47465e;
  font-size: 18px;
  font-weight: bold;
}

footer span+ul{ margin-top:20px; }

.products {
  display: inline-block;
  width: 15%;
}
 ul li{
list-style-type: none;
 }

.products ul {
   width:15%; 
}

.posters {
  width: 15%;
  padding-top: 50px;
  display: inline-block;
  vertical-align: top; 
}

.about {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}

.follows {
  width: 15%;
  display: inline-block;
  float:right;
  vertical-align: top;
}
.follows li{
  width: 25%;
  display: inline-block;
}